<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Reward Pitch</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      About Page.
    </p>
  </body>
</html>