<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New
  </button>
  <div class="dropdown-menu">
      <li>
    <a class="dropdown-item" href="#">New Model</a>
    <a class="dropdown-item" href="#">Existing Model</a>
    <a class="dropdown-item" href="#">Upload File</a>
    <a class="dropdown-item" href="#">Hypothesis</a>
    <a class="dropdown-item" href="#">Experiment</a>
    
    <div class="dropdown-divider"></div>
    <div class="divider"></div>
    <a class="dropdown-item" href="#">Download the file</a>
    </li>
  </div>
</div>




<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Reward Pitch</h1>
      <input type="text" id="fname" name="firstname" placeholder="Your Company Name..">
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
  
  <a href="/images/myw3schoolsimage.jpg" download>
  
  <form action="/action_page.php">
  <label for="img">Select image:</label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form>