<div class="row">
    <aside class="col-md-4">
        <%= render 'shared/user_info' %>
      </section>
      <section class="advisor_form">
        <%= render 'shared/advisor_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Advisor Feed</h3>
      <%= render 'shared/advisor_feed' %>
     <hr style="width:100%; display: block; margin-left: auto;
                                                     margin-right: auto;">