<% provide(:title, 'About') %>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New
  </button>
  <div class="dropdown-menu">
      <li>
    <a class="dropdown-item" href="#">New Model</a>
    <a class="dropdown-item" href="#">Existing Model</a>
    <a class="dropdown-item" href="#">Upload File</a>
    <a class="dropdown-item" href="#">Hypothesis</a>
    <a class="dropdown-item" href="#">Experiment</a>

    <div class="dropdown-divider"></div>
    <div class="divider"></div>
    <a class="dropdown-item" href="#">Download the file</a>
    </li>
  </div>
</div>




<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Reward Pitch</h1>
      <input type="text" id="fname" name="firstname" placeholder="Your Company Name..">
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <a href="/images/myw3schoolsimage.jpg" download>

  <form action="/action_page.php">
  <label for="img">Select image:</label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form>



<head>
<meta charset="utf-8">
<title>JavaScript form validation - checking non-empty</title>
<link rel='stylesheet' href='form-style.css' type='text/css' />
</head>
<body>
<div class="mail">
<h2>Company Name</h2>
<form name="form1" action="#" onsubmit="required()">
<ul>
<li><input type='text' name ='text1'/></li>
<li><input type="submit" name="submit" value="Submit" /></li>
</ul>
</form>
</div>
<script src="non-empty.js"></script>
</body>


<hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">
<hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">


<div class="row mb-2">
        <div class="col-md-8">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="#">COMPANY OVERVIEW</a>

              </h3>




            </div>
            <div style="float: left; display: flex;">
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17645693443%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17645693443%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
          </div>


           <div style="float: right; margin-left: auto; margin-right: auto;">
          <table class="table table-striped table-sm">
                              <thead>

                              </thead>
                              <tbody>
                                <tr>
                                  <td>1,001</td>
                                  <td>*</td>
                                  <td>ipsum</td>
                                  <td>dolor</td>
                                  <td>sit</td>
                                </tr>
                                <tr>
                                  <td>1,002</td>
                                  <td>amet</td>
                                  <td>consectetur</td>
                                  <td>adipiscing</td>
                                  <td>elit</td>
                                </tr>
                                <tr>
                                  <td>1,003</td>
                                  <td>Integer</td>
                                  <td>nec</td>
                                  <td>odio</td>
                                  <td>Praesent</td>
                                </tr>
                                <tr>
                                  <td>1,003</td>
                                  <td>libero</td>
                                  <td>Sed</td>
                                  <td>cursus</td>
                                  <td>ante</td>
                                </tr>
                                <tr>
                                  <td>1,004</td>
                                  <td>dapibus</td>
                                  <td>diam</td>
                                  <td>Sed</td>
                                  <td>nisi</td>
                                </tr>
                                <tr>
                                  <td>1,005</td>
                                  <td>Nulla</td>
                                  <td>quis</td>
                                  <td>sem</td>
                                  <td>at</td>
                                </tr>
                                <tr>
                                  <td>1,006</td>
                                  <td>nibh</td>
                                  <td>elementum</td>
                                  <td>imperdiet</td>
                                  <td>Duis</td>
                                </tr>
                                <tr>
                                  <td>1,007</td>
                                  <td>sagittis</td>
                                  <td>ipsum</td>
                                  <td>Praesent</td>
                                  <td>mauris</td>
                                </tr>
                                <tr>
                                  <td>1,008</td>
                                  <td>Fusce</td>
                                  <td>nec</td>
                                  <td>tellus</td>
                                  <td>sed</td>
                                </tr>
                                <tr>
                                  <td>1,009</td>
                                  <td>augue</td>
                                  <td>semper</td>
                                  <td>porta</td>
                                  <td>Mauris</td>
                                </tr>
                                <tr>
                                  <td>1,010</td>
                                  <td>massa</td>
                                  <td>Vestibulum</td>
                                  <td>lacinia</td>
                                  <td>arcu</td>
                                </tr>
                                <tr>
                                  <td>1,011</td>
                                  <td>eget</td>
                                  <td>nulla</td>
                                  <td>Class</td>
                                  <td>aptent</td>
                                </tr>
                                <tr>
                                  <td>1,012</td>
                                  <td>taciti</td>
                                  <td>sociosqu</td>
                                  <td>ad</td>
                                  <td>litora</td>
                                </tr>
                                <tr>
                                  <td>1,013</td>
                                  <td>torquent</td>
                                  <td>per</td>
                                  <td>conubia</td>
                                  <td>nostra</td>
                                </tr>
                                <tr>
                                  <td>1,014</td>
                                  <td>per</td>
                                  <td>inceptos</td>
                                  <td>himenaeos</td>
                                  <td>Curabitur</td>
                                </tr>
                                <tr>
                                  <td>1,015</td>
                                  <td>sodales</td>
                                  <td>ligula</td>
                                  <td>in</td>
                                  <td>libero</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>

        </div>

        <hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">

        <hr style="width:100%; display: block; margin-left: auto;
                                                         margin-right: auto;">

        <div class="row mb-2">
                <div class="col-md-8">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <h3 class="mb-0">
                        <a class="text-dark" href="#">Our Strategy</a>

                      </h3>

                    </div>
                    <div style="float: left; margin-left: auto; margin-right: auto;">
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17645693443%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17645693443%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  </div>
                  </div>


                   <div style="float: right;">
                  <table class="table table-striped table-sm">
                                      <thead>

                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>1,001</td>
                                          <td>Lorem</td>
                                          <td>*</td>
                                          <td>dolor</td>
                                          <td>sit</td>
                                        </tr>
                                        <tr>
                                          <td>1,002</td>
                                          <td>amet</td>
                                          <td>consectetur</td>
                                          <td>adipiscing</td>
                                          <td>elit</td>
                                        </tr>
                                        <tr>
                                          <td>1,003</td>
                                          <td>Integer</td>
                                          <td>nec</td>
                                          <td>odio</td>
                                          <td>Praesent</td>
                                        </tr>
                                        <tr>
                                          <td>1,003</td>
                                          <td>libero</td>
                                          <td>Sed</td>
                                          <td>cursus</td>
                                          <td>ante</td>
                                        </tr>
                                        <tr>
                                          <td>1,004</td>
                                          <td>dapibus</td>
                                          <td>diam</td>
                                          <td>Sed</td>
                                          <td>nisi</td>
                                        </tr>
                                        <tr>
                                          <td>1,005</td>
                                          <td>Nulla</td>
                                          <td>quis</td>
                                          <td>sem</td>
                                          <td>at</td>
                                        </tr>
                                        <tr>
                                          <td>1,006</td>
                                          <td>nibh</td>
                                          <td>elementum</td>
                                          <td>imperdiet</td>
                                          <td>Duis</td>
                                        </tr>
                                        <tr>
                                          <td>1,007</td>
                                          <td>sagittis</td>
                                          <td>ipsum</td>
                                          <td>Praesent</td>
                                          <td>mauris</td>
                                        </tr>
                                        <tr>
                                          <td>1,008</td>
                                          <td>Fusce</td>
                                          <td>nec</td>
                                          <td>tellus</td>
                                          <td>sed</td>
                                        </tr>
                                        <tr>
                                          <td>1,009</td>
                                          <td>augue</td>
                                          <td>semper</td>
                                          <td>porta</td>
                                          <td>Mauris</td>
                                        </tr>
                                        <tr>
                                          <td>1,010</td>
                                          <td>massa</td>
                                          <td>Vestibulum</td>
                                          <td>lacinia</td>
                                          <td>arcu</td>
                                        </tr>
                                        <tr>
                                          <td>1,011</td>
                                          <td>eget</td>
                                          <td>nulla</td>
                                          <td>Class</td>
                                          <td>aptent</td>
                                        </tr>
                                        <tr>
                                          <td>1,012</td>
                                          <td>taciti</td>
                                          <td>sociosqu</td>
                                          <td>ad</td>
                                          <td>litora</td>
                                        </tr>
                                        <tr>
                                          <td>1,013</td>
                                          <td>torquent</td>
                                          <td>per</td>
                                          <td>conubia</td>
                                          <td>nostra</td>
                                        </tr>
                                        <tr>
                                          <td>1,014</td>
                                          <td>per</td>
                                          <td>inceptos</td>
                                          <td>himenaeos</td>
                                          <td>Curabitur</td>
                                        </tr>
                                        <tr>
                                          <td>1,015</td>
                                          <td>sodales</td>
                                          <td>ligula</td>
                                          <td>in</td>
                                          <td>libero</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>

                </div>

                <hr style="width:100%; display: block; margin-left: auto;
                                                                 margin-right: auto;">
                <hr style="width:100%; display: block; margin-left: auto;
                                                                 margin-right: auto;">

    <h1>Our Market</h1>

<div style="float:left;">

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="688" height="400"><defs><clipPath id="shielddx"><rect rx="0" ry="0" fill="none" x="0" y="0" width="9999" height="400" stroke-width="0.000001"></rect></clipPath><clipPath id="shielddy"><rect fill="none" x="0" y="0" width="618" height="309"></rect></clipPath><filter id="55d833b1-6935-467d-a11a-59617873cb9b" height="120%"><feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur><feComponentTransfer><feFuncA type="linear" slope="0.2"></feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><rect rx="0" ry="0" fill="#FFFFFF" x="0" y="0" width="688" height="400" stroke-width="0.000001"></rect><g zIndex="1"></g><g zIndex="1"><path fill="none" d="M 60 287.5 L 678 287.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" d="M 60 225.5 L 678 225.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" d="M 60 164.5 L 678 164.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" d="M 60 102.5 L 678 102.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" d="M 60 40.5 L 678 40.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" d="M 60 349.5 L 678 349.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path></g><g zIndex="2"><path fill="none" d="M 615.5 349 L 615.5 355" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 59.5 349 L 59.5 355" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 170.5 349 L 170.5 355" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 282.5 349 L 282.5 355" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 393.5 349 L 393.5 355" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 504.5 349 L 504.5 355" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 60 349.5 L 678 349.5" stroke="#636363" stroke-width="1" zIndex="7" visibility="visible"></path></g><g zIndex="2"><text x="23.984375" y="194.5" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;font-weight:normal;fill:#636363;" zIndex="7" transform="rotate(270 23.984375 194)" text-anchor="middle" visibility="visible"><tspan x="23.984375">Break-Down for selected quarter</tspan></text></g><g zIndex="3"><g visibility="visible" zIndex="0.1" transform="translate(60,40)" clip-path="url(#shielddy)"><path fill="none" d="M 0 210.1 L 55.62556255625563 237.9 L 111.25112511251126 234.8 L 166.8766876687669 241 L 222.50225022502252 210.1 L 278.1278127812782 237.9 L 333.7533753375338 234.8 L 389.3789378937894 194.7 L 445.00450045004504 179.2 L 500.6300630063007 142.1 L 556.2556255625564 80.3 L 611.8811881188119 40.2" stroke="#1E98E4" stroke-width="3" zIndex="1"></path></g><g visibility="visible" zIndex="0.1" transform="translate(60,40)" clip-path="none"><path fill="#1E98E4" d="M 611.8811881188119 37.2 C 615.8771881188119 37.2 615.8771881188119 43.2 611.8811881188119 43.2 C 607.8851881188119 43.2 607.8851881188119 37.2 611.8811881188119 37.2 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 556.2556255625564 77.3 C 560.2516255625563 77.3 560.2516255625563 83.3 556.2556255625564 83.3 C 552.2596255625564 83.3 552.2596255625564 77.3 556.2556255625564 77.3 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 500.6300630063007 139.1 C 504.6260630063007 139.1 504.6260630063007 145.1 500.6300630063007 145.1 C 496.6340630063007 145.1 496.6340630063007 139.1 500.6300630063007 139.1 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 445.00450045004504 176.2 C 449.000500450045 176.2 449.000500450045 182.2 445.00450045004504 182.2 C 441.00850045004506 182.2 441.00850045004506 176.2 445.00450045004504 176.2 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 389.3789378937894 191.7 C 393.37493789378937 191.7 393.37493789378937 197.7 389.3789378937894 197.7 C 385.3829378937894 197.7 385.3829378937894 191.7 389.3789378937894 191.7 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 333.7533753375338 231.8 C 337.74937533753376 231.8 337.74937533753376 237.8 333.7533753375338 237.8 C 329.7573753375338 237.8 329.7573753375338 231.8 333.7533753375338 231.8 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 278.1278127812782 234.9 C 282.12381278127816 234.9 282.12381278127816 240.9 278.1278127812782 240.9 C 274.1318127812782 240.9 274.1318127812782 234.9 278.1278127812782 234.9 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 222.50225022502252 207.1 C 226.49825022502253 207.1 226.49825022502253 213.1 222.50225022502252 213.1 C 218.5062502250225 213.1 218.5062502250225 207.1 222.50225022502252 207.1 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 166.8766876687669 238 C 170.8726876687669 238 170.8726876687669 244 166.8766876687669 244 C 162.88068766876688 244 162.88068766876688 238 166.8766876687669 238 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 111.25112511251126 231.8 C 115.24712511251126 231.8 115.24712511251126 237.8 111.25112511251126 237.8 C 107.25512511251127 237.8 107.25512511251127 231.8 111.25112511251126 231.8 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 55.62556255625563 234.9 C 59.62156255625563 234.9 59.62156255625563 240.9 55.62556255625563 240.9 C 51.62956255625563 240.9 51.62956255625563 234.9 55.62556255625563 234.9 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path><path fill="#1E98E4" d="M 0 207.1 C 3.996 207.1 3.996 213.1 0 213.1 C -3.996 213.1 -3.996 207.1 0 207.1 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit"></path></g></g><text x="344" y="25" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;color:#4B4B4B;top:10;fill:#4B4B4B;" text-anchor="middle" zIndex="4"><tspan x="344">Shield UI Chart</tspan></text><g zIndex="7" transform="translate(310,373)"><g zIndex="1" clip-path="url(#shielddx)"><g><g zIndex="1" transform="translate(8,3)"><path fill="#1E98E4" d="M 1 6 L 11 6 11 16 1 16 Z" style="cursor:pointer;" stroke="#1E98E4" stroke-width="0.000001"></path><text x="17" y="15" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:12px;cursor:pointer;color:#3E576F;fill:#3E576F;" text-anchor="start" zIndex="2"><tspan x="17">Series 1</tspan></text></g></g></g></g><g zIndex="7"><text x="60" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="60">0</tspan></text><text x="616.2556255625564" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="616.2556255625564">10</tspan></text><text x="171.25112511251126" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="171.25112511251126">2</tspan></text><text x="282.5022502250225" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="282.5022502250225">4</tspan></text><text x="393.7533753375338" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="393.7533753375338">6</tspan></text><text x="505.00450045004504" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="505.00450045004504">8</tspan></text></g><g zIndex="7"><text x="52" y="354.8421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:289px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="52">-20</tspan></text><text x="52" y="293.0421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:289px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="52">0</tspan></text><text x="52" y="231.24999999999997" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:289px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="52">20</tspan></text><text x="52" y="169.44218750000002" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:289px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="52">40</tspan></text><text x="52" y="107.6421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:289px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="52">60</tspan></text><text x="52" y="45.8421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:289px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="52">80</tspan></text></g><text x="678" y="344" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" text-anchor="end" zIndex="8"><tspan x="678">By ShieldUI</tspan></text><g zIndex="9"><g visibility="visible" zIndex="1" transform="translate(60,40)"><path fill="none" d="M -10 210.1 L 0 210.1 L 55.62556255625563 237.9 L 111.25112511251126 234.8 L 166.8766876687669 241 L 222.50225022502252 210.1 L 278.1278127812782 237.9 L 333.7533753375338 234.8 L 389.3789378937894 194.7 L 445.00450045004504 179.2 L 500.6300630063007 142.1 L 556.2556255625564 80.3 L 611.8811881188119 40.2 L 621.8811881188119 40.2" isTracker="true" stroke-linejoin="bevel" visibility="visible" stroke-opacity="0.0001" stroke="rgb(192,192,192)" stroke-width="23" style=""></path></g></g></svg>
</div>

<div style="float:right;">
      <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                      </tr>
                      <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                      </tr>
                      <tr>
                        <td>1,004</td>
                        <td>dapibus</td>
                        <td>diam</td>
                        <td>Sed</td>
                        <td>nisi</td>
                      </tr>
                      <tr>
                        <td>1,005</td>
                        <td>Nulla</td>
                        <td>quis</td>
                        <td>sem</td>
                        <td>at</td>
                      </tr>
                      <tr>
                        <td>1,006</td>
                        <td>nibh</td>
                        <td>elementum</td>
                        <td>imperdiet</td>
                        <td>Duis</td>
                      </tr>
                      <tr>
                        <td>1,007</td>
                        <td>sagittis</td>
                        <td>ipsum</td>
                        <td>Praesent</td>
                        <td>mauris</td>
                      </tr>
                      <tr>
                        <td>1,008</td>
                        <td>Fusce</td>
                        <td>nec</td>
                        <td>tellus</td>
                        <td>sed</td>
                      </tr>
                      <tr>
                        <td>1,009</td>
                        <td>augue</td>
                        <td>semper</td>
                        <td>porta</td>
                        <td>Mauris</td>
                      </tr>
                      <tr>
                        <td>1,010</td>
                        <td>massa</td>
                        <td>Vestibulum</td>
                        <td>lacinia</td>
                        <td>arcu</td>
                      </tr>
                      <tr>
                        <td>1,011</td>
                        <td>eget</td>
                        <td>nulla</td>
                        <td>Class</td>
                        <td>aptent</td>
                      </tr>
                      <tr>
                        <td>1,012</td>
                        <td>taciti</td>
                        <td>sociosqu</td>
                        <td>ad</td>
                        <td>litora</td>
                      </tr>
                      <tr>
                        <td>1,013</td>
                        <td>torquent</td>
                        <td>per</td>
                        <td>conubia</td>
                        <td>nostra</td>
                      </tr>
                      <tr>
                        <td>1,014</td>
                        <td>per</td>
                        <td>inceptos</td>
                        <td>himenaeos</td>
                        <td>Curabitur</td>
                      </tr>
                      <tr>
                        <td>1,015</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                      </tr>
                    </tbody>
                  </table>

                  </div>

                  <div style="float:left;">


                  </div>




 <hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">
 <hr style="width:100%; display: block; margin-left: auto;
                                                  margin-right: auto;">
<div style="float:right; margin-top:5px;">
       <h1>Progress to Date</h1>


       <div style="float:left">
       <table class="table table-striped table-sm">
                               <thead>
                                 <tr>
                                   <th>#</th>
                                   <th>Header</th>
                                   <th>Header</th>
                                   <th>Header</th>
                                   <th>Header</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr>
                                   <td>1,001</td>
                                   <td>Lorem</td>
                                   <td>ipsum</td>
                                   <td>dolor</td>
                                   <td>sit</td>
                                 </tr>
                                 <tr>
                                   <td>1,002</td>
                                   <td>amet</td>
                                   <td>consectetur</td>
                                   <td>adipiscing</td>
                                   <td>elit</td>
                                 </tr>
                                 <tr>
                                   <td>1,003</td>
                                   <td>Integer</td>
                                   <td>nec</td>
                                   <td>odio</td>
                                   <td>Praesent</td>
                                 </tr>
                                 <tr>
                                   <td>1,003</td>
                                   <td>libero</td>
                                   <td>Sed</td>
                                   <td>cursus</td>
                                   <td>ante</td>
                                 </tr>
                                 <tr>
                                   <td>1,004</td>
                                   <td>dapibus</td>
                                   <td>diam</td>
                                   <td>Sed</td>
                                   <td>nisi</td>
                                 </tr>
                                 <tr>
                                   <td>1,005</td>
                                   <td>Nulla</td>
                                   <td>quis</td>
                                   <td>sem</td>
                                   <td>at</td>
                                 </tr>
                                 <tr>
                                   <td>1,006</td>
                                   <td>nibh</td>
                                   <td>elementum</td>
                                   <td>imperdiet</td>
                                   <td>Duis</td>
                                 </tr>
                                 <tr>
                                   <td>1,007</td>
                                   <td>sagittis</td>
                                   <td>ipsum</td>
                                   <td>Praesent</td>
                                   <td>mauris</td>
                                 </tr>


                                 <tr>
                                   <td>1,015</td>
                                   <td>sodales</td>
                                   <td>ligula</td>
                                   <td>in</td>
                                   <td>libero</td>
                                 </tr>
                               </tbody>
                             </table>
       </div>


       <div style="float:right; margin-bottom: 20px;">

       <div id="shieldej" class="shield-container" style="position: relative; overflow: hidden; width: 688px; height: 400px; line-height: normal; z-index: 0; font-family: &quot;Segoe
        UI&quot;, Tahoma, Verdana, sans-serif; font-size: 12px; cursor: default;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="688" height="400"><defs><clipPath id="shieldek"><rect rx="0" ry="0" fill="none" x="0" y="0" width="9999" height="400" stroke-width="0.000001">
        </rect></clipPath><clipPath id="shieldel"><rect fill="none" x="0" y="0" width="612" height="309"></rect>
        </clipPath><filter id="f472bc46-300a-4347-9215-5cb930d5fdd0" height="120%">
        <feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur>
        <feComponentTransfer><feFuncA type="linear" slope="0.2"></feFuncA>
        </feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic">
        </feMergeNode></feMerge></filter></defs>
        <rect rx="0" ry="0" fill="#FFFFFF" x="0" y="0" width="688" height="400" stroke-width="0.000001">
        </rect><g zIndex="1"></g><g zIndex="1">
        <path fill="none" d="M 66 298.5 L 678 298.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path><path fill="none" d="M 66 246.5 L 678 246.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path><path fill="none" d="M 66 195.5 L 678 195.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path><path fill="none" d="M 66 143.5 L 678 143.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path><path fill="none" d="M 66 92.5 L 678 92.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path><path fill="none" d="M 66 40.5 L 678 40.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path><path fill="none" d="M 66 349.5 L 678 349.5" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1">
        </path></g><g zIndex="2"><path fill="none" d="M 175.5 349 L 175.5 355" stroke="#636363" stroke-width="1">
        </path><path fill="none" d="M 285.5 349 L 285.5 355" stroke="#636363" stroke-width="1">
        </path><path fill="none" d="M 396.5 349 L 396.5 355" stroke="#636363" stroke-width="1">
        </path><path fill="none" d="M 506.5 349 L 506.5 355" stroke="#636363" stroke-width="1">
        </path><path fill="none" d="M 616.5 349 L 616.5 355" stroke="#636363" stroke-width="1">
        </path><path fill="none" d="M 65.5 349 L 65.5 355" stroke="#636363" stroke-width="1">
        </path><path fill="none" d="M 66 349.5 L 678 349.5" stroke="#636363" stroke-width="1" zIndex="7" visibility="visible">
        </path></g><g zIndex="2"><text x="23.984375" y="194.5" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;font-weight:normal;fill:#636363;" zIndex="7" transform="rotate(270 23.984375 194)" text-anchor="middle" visibility="visible">
        <tspan x="23.984375">Break-Down for selected quarter</tspan>
        </text></g><g zIndex="3"><g visibility="visible" zIndex="0.1" transform="translate(66,40)" clip-path="url(#shieldel)">
        <path fill="none" d="M 0 250.8 L 55.08550855085509 250.8 55.08550855085509 247.7 L 110.17101710171018 247.7 110.17101710171018 199.8 L 165.25652565256527 199.8 165.25652565256527 198.8 L 220.34203420342035 198.8 220.34203420342035 148.3 L 275.42754275427546 148.3 275.42754275427546 86.5 L 330.51305130513055 86.5 330.51305130513055 33.5 L 385.5985598559856 33.5 385.5985598559856 189.5 L 440.6840684068407 189.5 440.6840684068407 223 L 495.7695769576958 223 495.7695769576958 234.3 L 550.8550855085509 234.3 550.8550855085509 229.2 L 605.940594059406 229.2 605.940594059406 253.9" stroke="#1E98E4" stroke-width="3" zIndex="1">
        </path></g><g visibility="visible" zIndex="0.1" transform="translate(66,40)" clip-path="none">
        <path fill="#1E98E4" d="M 605.940594059406 250.9 C 609.9365940594059 250.9 609.9365940594059 256.9 605.940594059406 256.9 C 601.944594059406 256.9 601.944594059406 250.9 605.940594059406 250.9 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 550.8550855085509 226.2 C 554.8510855085509 226.2 554.8510855085509 232.2 550.8550855085509 232.2 C 546.859085508551 232.2 546.859085508551 226.2 550.8550855085509 226.2 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 495.7695769576958 231.3 C 499.76557695769577 231.3 499.76557695769577 237.3 495.7695769576958 237.3 C 491.7735769576958 237.3 491.7735769576958 231.3 495.7695769576958 231.3 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 440.6840684068407 220 C 444.6800684068407 220 444.6800684068407 226 440.6840684068407 226 C 436.6880684068407 226 436.6880684068407 220 440.6840684068407 220 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 385.5985598559856 186.5 C 389.5945598559856 186.5 389.5945598559856 192.5 385.5985598559856 192.5 C 381.60255985598565 192.5 381.60255985598565 186.5 385.5985598559856 186.5 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 330.51305130513055 30.5 C 334.5090513051305 30.5 334.5090513051305 36.5 330.51305130513055 36.5 C 326.51705130513056 36.5 326.51705130513056 30.5 330.51305130513055 30.5 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 275.42754275427546 83.5 C 279.42354275427545 83.5 279.42354275427545 89.5 275.42754275427546 89.5 C 271.4315427542755 89.5 271.4315427542755 83.5 275.42754275427546 83.5 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 220.34203420342035 145.3 C 224.33803420342036 145.3 224.33803420342036 151.3 220.34203420342035 151.3 C 216.34603420342034 151.3 216.34603420342034 145.3 220.34203420342035 145.3 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 165.25652565256527 195.8 C 169.25252565256528 195.8 169.25252565256528 201.8 165.25652565256527 201.8 C 161.26052565256526 201.8 161.26052565256526 195.8 165.25652565256527 195.8 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 110.17101710171018 196.8 C 114.16701710171017 196.8 114.16701710171017 202.8 110.17101710171018 202.8 C 106.17501710171018 202.8 106.17501710171018 196.8 110.17101710171018 196.8 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 55.08550855085509 244.7 C 59.08150855085509 244.7 59.08150855085509 250.7 55.08550855085509 250.7 C 51.089508550855086 250.7 51.089508550855086 244.7 55.08550855085509 244.7 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path><path fill="#1E98E4" d="M 0 247.8 C 3.996 247.8 3.996 253.8 0 253.8 C -3.996 253.8 -3.996 247.8 0 247.8 Z" stroke="#1E98E4" stroke-width="2" visibility="inherit">
        </path></g></g><text x="344" y="25" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;color:#4B4B4B;top:10;fill:#4B4B4B;" text-anchor="middle" zIndex="4"><tspan x="344">Shield UI Chart</tspan>
        </text><g zIndex="7" transform="translate(310,373)"><g zIndex="1" clip-path="url(#shieldek)"><g><g zIndex="1" transform="translate(8,3)">
        <path fill="#1E98E4" d="M 1 6 L 11 6 11 16 1 16 Z" style="cursor:pointer;" stroke="#1E98E4" stroke-width="0.000001"></path><text x="17" y="15" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:12px;cursor:pointer;color:#3E576F;fill:#3E576F;" text-anchor="start" zIndex="2"><tspan x="17">Series 1</tspan>
        </text></g></g></g></g><g zIndex="7"><text x="66" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="66">0</tspan>
        </text><text x="176.17101710171016" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="176.17101710171016">2</tspan>
        </text><text x="286.3420342034203" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="286.3420342034203">4</tspan></text><text x="396.51305130513055" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible">
        <tspan x="396.51305130513055">6</tspan></text><text x="506.6840684068407" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="506.6840684068407">8</tspan>
        </text><text x="616.8550855085509" y="366" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="616.8550855085509">10</tspan></text></g><g zIndex="7">
        <text x="58" y="354.8421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">-100</tspan></text><text x="58" y="303.3421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">0</tspan>
        </text><text x="58" y="251.8421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">100</tspan></text><text x="58" y="200.3421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">200</tspan></text><text x="58" y="148.8421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">300</tspan></text><text x="58" y="97.3421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">400</tspan></text><text x="58" y="45.8421875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:286px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="58">500</tspan></text></g><text x="678" y="344" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" text-anchor="end" zIndex="8"><tspan x="678">By ShieldUI</tspan></text><g zIndex="9"><g visibility="visible" zIndex="1" transform="translate(66,40)"><path fill="none" d="M -10 250.8 L 0 250.8 L 55.08550855085509 250.8 55.08550855085509 247.7 L 110.17101710171018 247.7 110.17101710171018 199.8 L 165.25652565256527 199.8 165.25652565256527 198.8 L 220.34203420342035 198.8 220.34203420342035 148.3 L 275.42754275427546 148.3 275.42754275427546 86.5 L 330.51305130513055 86.5 330.51305130513055 33.5 L 385.5985598559856 33.5 385.5985598559856 189.5 L 440.6840684068407 189.5 440.6840684068407 223 L 495.7695769576958 223 495.7695769576958 234.3 L 550.8550855085509 234.3 550.8550855085509 229.2 L 605.940594059406 229.2 605.940594059406 253.9 L 615.940594059406 253.9" isTracker="true" stroke-linejoin="bevel" visibility="visible" stroke-opacity="0.0001" stroke="rgb(192,192,192)" stroke-width="23" style=""></path></g></g></svg></div>


       </div>

       <hr style="width:100%; display: block; margin-left: auto;
                                                        margin-right: auto;">

       <hr style="width:100%; display: block; margin-left: auto;
                                                        margin-right: auto;">



    <h1 style="margin-top: 50px; ">Next Milestone</h1>
    <div style="float:right;">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="688" height="400"><defs><clipPath id="shieldec"><rect rx="0" ry="0" fill="none" x="0" y="0" width="9999" height="400" stroke-width="0.000001"></rect></clipPath><clipPath id="shielded"><rect fill="none" x="0" y="0" width="668" height="323"></rect></clipPath><filter id="f69c488d-6b75-43eb-975d-0be15e99ce6a" height="120%"><feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur><feComponentTransfer><feFuncA type="linear" slope="0.2"></feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><rect rx="0" ry="0" fill="#FFFFFF" x="0" y="0" width="688" height="400" stroke-width="0.000001"></rect><g zIndex="1"><path fill="none" d="M 344 201.5 L 412.6375 82.61636269549118" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 462.8836373045088 132.8625" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 481.275 201.5" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 462.88363730450885 270.1375" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 412.63750000000005 320.3836373045088" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 344 338.775" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 275.3625 320.38363730450885" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 225.1163626954912 270.13750000000005" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 206.725 201.50000000000003" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 225.11636269549112 132.86250000000007" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 275.36249999999995 82.6163626954912" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 344 64.225" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path><path fill="none" d="M 344 201.5 L 344 64.225" stroke="#C0C0C0" stroke-width="1" zIndex="1"></path></g><g zIndex="1"><path fill="none" d="M 344 132.8625 A 68.6375 68.6375 0 1 1 343.9999313625 132.86250000003432 M 344 201.5 A 0 0 0 1 0 344 201.5 " stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" d="M 344 64.225 A 137.275 137.275 0 1 1 343.99986272499996 64.22500000006863 M 344 201.5 A 0 0 0 1 0 344 201.5 " stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path><path fill="none" stroke="#C0C0C0" stroke-width="1" stroke-dasharray="none" zIndex="1"></path></g><g zIndex="2"><path fill="none" d="M 412.6375 82.61636269549118 L 415.6375 77.42021027278454" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 462.8836373045088 132.8625 L 468.0797897272154 129.8625" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 481.275 201.5 L 487.275 201.5" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 462.88363730450885 270.1375 L 468.0797897272155 273.1375" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 412.63750000000005 320.3836373045088 L 415.63750000000005 325.5797897272154" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 344 338.775 L 344 344.775" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 275.3625 320.38363730450885 L 272.3625 325.5797897272155" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 225.1163626954912 270.13750000000005 L 219.92021027278457 273.13750000000005" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 206.725 201.50000000000003 L 200.725 201.50000000000003" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 225.11636269549112 132.86250000000007 L 219.9202102727845 129.86250000000007" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 275.36249999999995 82.6163626954912 L 272.36249999999995 77.42021027278457" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 344 64.225 L 344 58.224999999999994" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 344 64.225 L 344 58.224999999999994" stroke="#636363" stroke-width="1"></path><path fill="none" d="M 344 64.225 A 137.275 137.275 0 1 1 343.99986272499996 64.22500000006863 M 344 201.5 A 0 0 0 1 0 344 201.5 " stroke="#636363" stroke-width="1" zIndex="7" visibility="visible"></path></g><g zIndex="2"><text x="348" y="132.8625" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;font-weight:normal;fill:#636363;" zIndex="7" transform="rotate(90 348 132)" text-anchor="middle" visibility="visible"><tspan x="348">Break-Down for selected quarter</tspan></text></g><g zIndex="3"><g visibility="visible" zIndex="0.1" transform="translate(10,40) scale(1,1)" clip-path="url(#shielded)"><path fill="#1E98E4" d="M 333.40471165860816 157.4687152431758 A 4.075000000000017 4.075000000000017 0 0 1 334.59528431010676 157.46871464788947 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 338.5555413394729 149.99401598713288 A 12.375 12.375 0 0 1 341.6866940827337 151.80178577889382 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 346.91134970944324 151.26659031991483 A 16.47500000000001 16.47500000000001 0 0 1 349.3180615401493 155.43513267645537 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 352.9692969845653 158.69885792731574 A 19.17500000000001 19.17500000000001 0 0 1 352.9692997856979 164.30112310338586 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 362.056005461678 172.60815837726017 A 30.17500000000001 30.17500000000001 0 0 1 357.64796881792967 180.24311062193857 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 361.3149736377387 195.9629197859038 A 43.97500000000001 43.97500000000001 0 0 1 350.1883180912216 202.3869047786382 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 343.024279089443 222.6122983687886 A 61.775000000000006 61.775000000000006 0 0 1 324.9757820228599 222.61230739303713 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 327.9351479945199 176.81806760500896 A 16.47500000000001 16.47500000000001 0 0 1 323.76660323126964 174.41135994284645 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 261.91979426245587 218.6300670910976 A 91.97500000000001 91.97500000000001 0 0 1 248.48384156872658 195.35834124934865 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 272.88770163121137 170.52427908944298 A 61.775000000000006 61.775000000000006 0 0 1 272.88769260696284 152.4757820228599 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 263.8251197275842 133.71579938612396 A 75.47500000000001 75.47500000000001 0 0 1 274.8506894272331 114.6189304327817 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path><path fill="#1E98E4" d="M 328.05251000383515 153.99613514610508 A 9.575000000000003 9.575000000000003 0 0 1 330.47519850543614 152.59739367241704 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" stroke="#FFFFFF" stroke-width="0.000001" r="0"></path></g><g visibility="visible" zIndex="0.1" transform="translate(10,40) scale(1,1)"></g></g><text x="344" y="25" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;color:#4B4B4B;top:10;fill:#4B4B4B;" text-anchor="middle" zIndex="4"><tspan x="344">Shield UI Chart</tspan></text><g zIndex="7" transform="translate(310,373)"><g zIndex="1" clip-path="url(#shieldec)"><g><g zIndex="1" transform="translate(8,3)"><path fill="#1E98E4" d="M 1 6 L 11 6 11 16 1 16 Z" style="cursor:pointer;" stroke="#1E98E4" stroke-width="0.000001"></path><text x="17" y="15" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:12px;cursor:pointer;color:#3E576F;fill:#3E576F;" text-anchor="start" zIndex="2"><tspan x="17">Series 1</tspan></text></g></g></g></g><g zIndex="7"><text x="344" y="55.074999999999996" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="344">0</tspan></text><text x="475.8740183612754" y="131.2125" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="start" visibility="visible"><tspan x="475.8740183612754">2</tspan></text><text x="475.8740183612754" y="283.4875" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="start" visibility="visible"><tspan x="475.8740183612754">4</tspan></text><text x="344" y="359.625" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="visible"><tspan x="344">6</tspan></text><text x="212.12598163872462" y="283.48750000000007" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="212.12598163872462">8</tspan></text><text x="212.12598163872454" y="131.2125000000001" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="212.12598163872454">10</tspan></text><text x="0" y="0" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="middle" visibility="hidden"><tspan x="0">12</tspan></text><text x="420.1375" y="75.47598163872459" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="start" visibility="visible"><tspan x="420.1375">1</tspan></text><text x="496.275" y="207.35" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="start" visibility="visible"><tspan x="496.275">3</tspan></text><text x="420.13750000000005" y="339.2240183612754" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="start" visibility="visible"><tspan x="420.13750000000005">5</tspan></text><text x="267.8625" y="339.2240183612754" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="267.8625">7</tspan></text><text x="191.725" y="207.35000000000002" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="191.725">9</tspan></text><text x="267.86249999999995" y="75.47598163872462" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="267.86249999999995">11</tspan></text></g><g zIndex="7"><text x="341" y="199.5" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:314px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="341">0</tspan></text><text x="341" y="130.8625" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:314px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="visible"><tspan x="341">50</tspan></text><text x="0" y="0" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:314px;color:#636363;line-height:14px;fill:#636363;" text-anchor="end" visibility="hidden"><tspan x="0">100</tspan></text></g><text x="678" y="358" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" text-anchor="end" zIndex="8"><tspan x="678">By ShieldUI</tspan></text><g zIndex="9"><g visibility="visible" zIndex="1" transform="translate(10,40)" clip-path="url(#shielded)"><path fill="rgb(192,192,192)" d="M 333.40471165860816 157.4687152431758 A 4.075000000000017 4.075000000000017 0 0 1 334.59528431010676 157.46871464788947 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 338.5555413394729 149.99401598713288 A 12.375 12.375 0 0 1 341.6866940827337 151.80178577889382 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 346.91134970944324 151.26659031991483 A 16.47500000000001 16.47500000000001 0 0 1 349.3180615401493 155.43513267645537 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 352.9692969845653 158.69885792731574 A 19.17500000000001 19.17500000000001 0 0 1 352.9692997856979 164.30112310338586 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 362.056005461678 172.60815837726017 A 30.17500000000001 30.17500000000001 0 0 1 357.64796881792967 180.24311062193857 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 361.3149736377387 195.9629197859038 A 43.97500000000001 43.97500000000001 0 0 1 350.1883180912216 202.3869047786382 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 343.024279089443 222.6122983687886 A 61.775000000000006 61.775000000000006 0 0 1 324.9757820228599 222.61230739303713 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 327.9351479945199 176.81806760500896 A 16.47500000000001 16.47500000000001 0 0 1 323.76660323126964 174.41135994284645 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 261.91979426245587 218.6300670910976 A 91.97500000000001 91.97500000000001 0 0 1 248.48384156872658 195.35834124934865 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 272.88770163121137 170.52427908944298 A 61.775000000000006 61.775000000000006 0 0 1 272.88769260696284 152.4757820228599 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 263.8251197275842 133.71579938612396 A 75.47500000000001 75.47500000000001 0 0 1 274.8506894272331 114.6189304327817 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path><path fill="rgb(192,192,192)" d="M 328.05251000383515 153.99613514610508 A 9.575000000000003 9.575000000000003 0 0 1 330.47519850543614 152.59739367241704 L 334 161.5 A 0 0 0 0 0 334 161.5 Z" isTracker="1607572187192" fill-opacity="0.0001" visibility="visible" style=""></path></g></g></svg>
    </div>
    <div style="float:left;">
    <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                          </tr>
                          <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                            <td>elit</td>
                          </tr>
                          <tr>
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                            <td>odio</td>
                            <td>Praesent</td>
                          </tr>
                          <tr>
                            <td>1,003</td>
                            <td>libero</td>
                            <td>Sed</td>
                            <td>cursus</td>
                            <td>ante</td>
                          </tr>
                          <tr>
                            <td>1,004</td>
                            <td>dapibus</td>
                            <td>diam</td>
                            <td>Sed</td>
                            <td>nisi</td>
                          </tr>
                          <tr>
                            <td>1,005</td>
                            <td>Nulla</td>
                            <td>quis</td>
                            <td>sem</td>
                            <td>at</td>
                          </tr>
                          <tr>
                            <td>1,006</td>
                            <td>nibh</td>
                            <td>elementum</td>
                            <td>imperdiet</td>
                            <td>Duis</td>
                          </tr>
                          <tr>
                            <td>1,007</td>
                            <td>sagittis</td>
                            <td>ipsum</td>
                            <td>Praesent</td>
                            <td>mauris</td>
                          </tr>
                          <tr>
                            <td>1,008</td>
                            <td>Fusce</td>
                            <td>nec</td>
                            <td>tellus</td>
                            <td>sed</td>
                          </tr>
                          <tr>
                            <td>1,009</td>
                            <td>augue</td>
                            <td>semper</td>
                            <td>porta</td>
                            <td>Mauris</td>
                          </tr>
                          <tr>
                            <td>1,010</td>
                            <td>massa</td>
                            <td>Vestibulum</td>
                            <td>lacinia</td>
                            <td>arcu</td>
                          </tr>
                          <tr>
                            <td>1,011</td>
                            <td>eget</td>
                            <td>nulla</td>
                            <td>Class</td>
                            <td>aptent</td>
                          </tr>
                          <tr>
                            <td>1,012</td>
                            <td>taciti</td>
                            <td>sociosqu</td>
                            <td>ad</td>
                            <td>litora</td>
                          </tr>
                          <tr>
                            <td>1,013</td>
                            <td>torquent</td>
                            <td>per</td>
                            <td>conubia</td>
                            <td>nostra</td>
                          </tr>
                          <tr>
                            <td>1,014</td>
                            <td>per</td>
                            <td>inceptos</td>
                            <td>himenaeos</td>
                            <td>Curabitur</td>
                          </tr>
                          <tr>
                            <td>1,015</td>
                            <td>sodales</td>
                            <td>ligula</td>
                            <td>in</td>
                            <td>libero</td>
                          </tr>
                        </tbody>
                      </table>

                      </div>


                      <div style="background-color: #fff; border-width:1px; border-style: solid; border-color: #fff000">


<hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">
<hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">

                      <h1 style="style:50px;">Key Items</h1>

                  <table class="table table-striped table-sm" >
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Header</th>
                                          <th>Header</th>
                                          <th>Header</th>
                                          <th>Header</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>1,001</td>
                                          <td>Lorem</td>
                                          <td>ipsum</td>
                                          <td>dolor</td>
                                          <td>sit</td>
                                        </tr>
                                        <tr>
                                          <td>1,002</td>
                                          <td>amet</td>
                                          <td>consectetur</td>
                                          <td>adipiscing</td>
                                          <td>elit</td>
                                        </tr>
                                        <tr>
                                          <td>1,003</td>
                                          <td>Integer</td>
                                          <td>nec</td>
                                          <td>odio</td>
                                          <td>Praesent</td>
                                        </tr>

                                        <tr>
                                          <td>1,011</td>
                                          <td>eget</td>
                                          <td>nulla</td>
                                          <td>Class</td>
                                          <td>aptent</td>
                                        </tr>
                                        <tr>
                                          <td>1,012</td>
                                          <td>taciti</td>
                                          <td>sociosqu</td>
                                          <td>ad</td>
                                          <td>litora</td>
                                        </tr>
                                        <tr>
                                          <td>1,013</td>
                                          <td>torquent</td>
                                          <td>per</td>
                                          <td>conubia</td>
                                          <td>nostra</td>
                                        </tr>
                                        <tr>
                                          <td>1,014</td>
                                          <td>per</td>
                                          <td>inceptos</td>
                                          <td>himenaeos</td>
                                          <td>Curabitur</td>
                                        </tr>
                                        <tr>
                                          <td>1,015</td>
                                          <td>sodales</td>
                                          <td>ligula</td>
                                          <td>in</td>
                                          <td>libero</td>
                                        </tr>
                                      </tbody>
                                    </table>
                      </div>

<hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">
<hr style="width:100%; display: block; margin-left: auto;
                                                 margin-right: auto;">
<h1>Advisors</h1>

<table class="table table-striped table-sm">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Header</th>
                                          <th>Header</th>
                                          <th>Header</th>
                                          <th>Header</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>1,001</td>
                                          <td>Lorem</td>
                                          <td>ipsum</td>
                                          <td>dolor</td>
                                          <td>sit</td>
                                        </tr>
                                        <tr>
                                          <td>1,002</td>
                                          <td>amet</td>
                                          <td>consectetur</td>
                                          <td>adipiscing</td>
                                          <td>elit</td>
                                        </tr>
                                        </tbody>
                                        </table>



